.TodoList{
    height: 50vh;
    background-color: black;
    min-width: 15vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}